<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div id="headingDiv">
        <h1> Login </h1>
    </div>
    

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <p>
        {{ form.username.label_tag }}
        {{ form.username }}
        
        <br><br>

        {{ form.password.label_tag }}
        {{ form.password }}

        <br><br>

        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">

        </p>

        
        {% if form.errors %}
            <p> There's something wrong with what you have just entered! </p>
        {% endif %}

        {% if next %}
            <p>Hey, you can't access that page.</p>
        {% endif %}

    </form>

    {% load static %}
    <link rel="stylesheet" href="{% static "registration/login.css" %}">

</body>
</html>