<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div id="headingDiv">
	<h1>Registration Page</h1>
    <div>
    
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}

        {% if form.errors %}
        <p>There are errors in the form !!!</p>
        {% endif %}

        {{ form }}

        <br><br>
        <input type="submit" value="Register"> 

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "registration/register.css" %}">
    </form>
</body>
</html>