<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booked</title>
    <link rel="stylesheet" href="MainPage.css">
</head>
<body>
	<div id="AnimatedTitle">
    	<!-- <h1> BOOKED.COM </h1> -->

    	<p id="p1"> <span id="typed-heading"><!-- BOOKED.COM --></span><span class="cursor">&nbsp</span>  </p> 
	</div>

    <h2> This is what you're gonna see, when you open this website</h2>


    <script src="MainPage.js"></script>
</body>
</html>